 <div class="one-half" ng-show="$ctrl.customer.isContact">
    <h4>{{ 'customer.edit_profile.title' | t }}</h4>
    <form ng-submit="$ctrl.submit()" name="detailForm">
        <vc-labeled-input value="$ctrl.changeData.firstName" name="first_name" placeholder="{{ 'customer.edit_profile.first_name' | t }}" form="detailForm" required="true" autofocus="true"></vc-labeled-input>
        <vc-labeled-input value="$ctrl.changeData.lastName" name="last_name" placeholder="{{ 'customer.edit_profile.last_name' | t }}" form="detailForm"></vc-labeled-input>
        <vc-labeled-input value="$ctrl.changeData.email" name="email" placeholder="{{ 'customer.edit_profile.email' | t }}" form="detailForm" required="true" type="email"></vc-labeled-input>

        <button class="vc-btn" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
            <span class="btn-text">{{ 'customer.edit_profile.submit' | t }}</span>
            <span class="btn-loading"></span>
        </button>
    </form> 
    <form name="phone">
    <vc-labeled-input name="PhoneNumber" placeholder="{{ 'contact.form.phone' | t }}" value="$ctrl.phoneNumber" ng-model="$ctrl.phoneNumber" ng-pattern="/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/" ng-class="{'form-group error': phone.$invalid}"></vc-labeled-input>
    <span ng-if="phone.$invalid"  ng-class="{'form-error': phone.$invalid}">Invalid phone number</span>
    </form>        
    <div>
        <button class="btn" ng-if="$ctrl.phoneNumber" ng-click="$ctrl.updatePhoneNumber()">{{ 'customer.edit_profile.submit' | t }} </button>        
        <button class="btn" ng-if="$ctrl.phoneNumber" ng-click="$ctrl.deletePhoneNumber()">{{ 'customer.edit_profile.delete' | t }}</button>
    </div>
    <br>
    <label class="switch">
        {% raw %}{{$ctrl.twoFactorEnabled ? "Two Factor Authentication: Enabled" : "Two Factor Authentication: Disabled" }}{% endraw %}                
    </label>
    <button class="btn" name="TwoFactorEnabled" ng-model="$ctrl.twoFactorEnabled" ng-click="$ctrl.changeTwoFactorAuth()">{% raw %}{{$ctrl.twoFactorEnabled ? "Disable" : "Enable" }}{% endraw %}</button>
</div>
