 <div class="one-half" ng-show="$ctrl.customer.isContact">
    <h4>{{ 'customer.edit_profile.title' | t }}</h4>
    <form ng-submit="$ctrl.submit()" name="detailForm">
        <vc-labeled-input value="$ctrl.changeData.firstName" name="first_name" placeholder="{{ 'customer.edit_profile.first_name' | t }}" form="detailForm" required="true" autofocus="true"></vc-labeled-input>
        <vc-labeled-input value="$ctrl.changeData.lastName" name="last_name" placeholder="{{ 'customer.edit_profile.last_name' | t }}" form="detailForm"></vc-labeled-input>
        <vc-labeled-input value="$ctrl.changeData.email" name="email" placeholder="{{ 'customer.edit_profile.email' | t }}" form="detailForm" required="true" type="email"></vc-labeled-input>
        <div style="display:flex;flex-flow:row wrap;justify-content:space-between;align-items:start;">
            <vc-labeled-input name="PhoneNumber" placeholder="{{ 'contact.form.phone' | t }}" value="$ctrl.phoneNumber"></vc-labeled-input>
            <button class="btn" style="margin-left:auto;margin-right:10px" ng-click="$ctrl.changePhoneNumber()">{{ 'cart.general.add' | t }}</button>
            <button class="btn" ng-click="$ctrl.deletePhoneNumber()">{{ 'customer.addresses.delete' | t }}</button>
        </div>
        <label class="switch">{{ 'customer.edit_profile.two_factor_auth' | t }}
            <input type="checkbox" name="TwoFactorEnabled" value="$ctrl.twoFactorEnabled" ng-change="$ctrl.changeTwoFactorAuth()">
        </label>

        <button class="vc-btn" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
            <span class="btn-text">{{ 'customer.edit_profile.submit' | t }}</span>
            <span class="btn-loading"></span>
        </button>
    </form>
</div>