<div class="jsonpage-block">
    <h2>{{ block.title }}</h2>

    <div style="display: flex; flex-direction: {{ block.align == 'left' ? 'row' : 'row-reverse' }}">
        <div>
            <img src="{{ block.url }}" class="{{ block.imageSize }}" />
        </div>
        <div>
            {{ block.content }}
        </div>
    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Image with text"},
{"id": "title","label": "Title","type": "string"},
{"id": "url","label": "Upload picture","type": "image","previewWith": 120,"previewHeight": 80},
{"id": "size","label": "Choose image size","type": "select","default": "small",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},
                    {"label": "Large","value": "large"},{"label": "Extra-Large","value": "xlarge"}]},
{"id": "align","label": "Choose image alignment","type": "select","default": "left",
        "options": [{"label": "Left","value": "left"},{"label": "Right","value": "right"},
                    {"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "content","label": "Content","type": "text"}

{% endcomment %}
