<div class="jsonpage-block">
    <div style="width: 100%; display: flex;">
        {% for column in block.columns %}
        <div style="{% if column.width != blank %}flex: {{ column.width }}; {% endif %} border: none; ">

            {% if block.align == "top" %}
            <img src="{{ column.url }}" class="{{ block.imageSize }}" style="max-height: 100%;" />
            {% endif %}

            <h3>{{ column.title }}</h3>
            <div>{{ column.content }}</div>

            {% if block.align == "bottom" %}
            <img src="{{ column.url }}" class="{{ block.imageSize }}" style="max-height: 100%;" />
            {% endif %}
            <div style="clear: both;"></div>
        </div>
        {% endfor %}

    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text columns with images"},
{"id": "align","label": "Image alignment","type": "select","default": "top",
        "options": [{"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "size","label": "Image size","type": "select","default": "medium",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},{"label": "Large","value": "large"}]},
{"id": "columns","label": "Columns","type": "list","addText": "Add column","removeText": "Remove column","displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"},
                    {"id": "width","label": "Flex width","type": "number"}]}

{% endcomment %}
