<div style="margin: 0 auto; width: 50%">
    {% form 'verify_code' %}
        <input id="provider" name="provider" type="hidden" value="{{ form.provider }}" />
        <input id="returnUrl" name="returnUrl" type="hidden" value="{{ form.returnUrl }}" />
        <input id="rememberMe" name="rememberMe" type="hidden" value="{{ form.rememberMe }}" />
        <input id="username" name="username" type="hidden" value="{{ form.username }}" />
        <h1>{{ 'verify.code.title' | t }}</h1>
        {% include 'form-errors-custom' %}
        <label class="hidden-label" for="code">{{ 'verify.code.label.code' | t }}</label>
        <input id="code" name="code" placeholder="{{ 'verify.code.placeholder.enter_code' | t }}" type="text" value="" />
        <input id="rememberBrowser" name="rememberBrowser" placeholder="Remember this browser" type="checkbox" class="check" value="true"/>
        <p>
            <input class="btn" type="submit" value="{{ 'verify.code.submit' | t }}" />
        </p>
    {% endform %}
</div>
